#jChecs 0.1.0 configuration file
#Fri Jun 17 17:42:04 BRT 2016
panel.players.folded=false
highlightLastMove=true
showMenuBar=true
player.whites.human=false
flipView=false
panel.lf.folded=false
player.whites.name=NegaScout
player.blacks.name=NegaScout
panel.scoresheet.folded=false
player.blacks.human=false
panel.recorder.folded=false
showCoords=true
lf.board=0
player.whites.depth=5
showFEN=true
enableSounds=false
cellsSize=56
highlightValids=false
panel.eval.folded=false
lf.pieces=0
panel.clock.folded=false
showToolBar=false
panel.settings.folded=false
showCaptures=true
player.blacks.depth=5
