#jChecs 0.1.0 configuration file
#Tue Nov 10 14:42:01 BRST 2015
panel.players.folded=false
highlightLastMove=true
showMenuBar=false
player.whites.human=true
flipView=false
panel.lf.folded=false
player.whites.name=Human
player.blacks.name=NegaScout
panel.scoresheet.folded=true
player.blacks.human=false
panel.recorder.folded=false
showCoords=true
lf.board=0
player.whites.depth=0
showFEN=true
enableSounds=true
cellsSize=56
panel.eval.folded=false
highlightValids=true
lf.pieces=0
panel.clock.folded=false
showToolBar=false
panel.settings.folded=false
player.blacks.depth=6
showCaptures=true
