#jChecs 0.1.0 configuration file
#Fri Jul 01 19:23:59 BRT 2016
panel.players.folded=false
highlightLastMove=true
showMenuBar=true
player.whites.human=true
flipView=false
panel.lf.folded=false
player.whites.name=Human
player.blacks.name=NegaScout
panel.scoresheet.folded=false
player.blacks.human=false
panel.recorder.folded=false
showCoords=true
lf.board=0
player.whites.depth=0
showFEN=true
enableSounds=false
cellsSize=56
panel.eval.folded=false
highlightValids=false
lf.pieces=0
panel.clock.folded=false
showToolBar=false
panel.settings.folded=false
player.blacks.depth=4
showCaptures=true
